#
# Resource file for CO parameters. 
#

# Run-time debug switch (0 off, 1 on)
# -----------------------------------
DEBUG: 0

# Run-time switch on OH, Cl, O(O1D) units
# Permissable string is "mol/mol" or "mol mol-1",
# otherwise resorts to assuming "molec cm-3"
#------------------------------------------------
units_oh: "molec cm-3"

# Photolysis file
# ---------------
photolysisFile: /discover/nobackup/qliang/fvInput/Standard/SC.J_20_12_79_72_200_45.jpl15.nc4 
