#
# This the GOCART Grid Component Registry. It defines Import,
# Internal and Export states for this component as well as
# any 
#
# REVISION HISTORY:
#    16Aug2006  da Silva     First Version
#    01Oct2019  Weir         N+1th Version
#
# NOTES:
#    Must keep __ENSEMBLE__ in long names for this to work
#
# -----------------------------------------------------------------

  COMP_NAME: CO

# Only change the Registry version when major structural changes
# occurs, not changes in content
# --------------------------------------------------------------
  GEOS_REGISTRY_VERSION: 1.00  

<CO::ExportSpec cols="SHORT UNITS DIMS VLOC STAT REFRESH AVG SUBTILES LONG">
# Dim: xy = 2D, xyz = 3D; V: C = cell center, E = edge
# IT: ???; R: ???; A: ???; Sub: ???
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
# Export     | Units       | Dim | V | IT | R | A | Sub | Long name
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  COEM       | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission __ENSEMBLE__
  COEMsim    | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (All Sources; No Assimilation)
  COEMbbae   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Biomass Burning: Asia and Europe)
  COEMbbaf   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Biomass Burning: Africa)
  COEMbbla   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Biomass Burning: Central and South America)
  COEMbbna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Biomass Burning: North America)
  COEMbbgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Biomass Burning: Global)
  COEMffas   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Fossil Fuels: Asia)
  COEMffeu   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Fossil Fuels: Europe)
  COEMffna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Fossil Fuels: North America)
  COEMffru   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Fossil Fuels: Northern Asia)
  COEMffgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Fossil Fuels: Global)
  COEMnbas   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Non-Biomass Burning: Asia)
  COEMnbeu   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Non-Biomass Burning: Europe)
  COEMnbna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Non-Biomass Burning: North America)
  COEMnbgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Non-Biomass Burning: Global)
  COEMbfgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Biofuels: Global)
  COEMcpgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Emission (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  COPD       | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production __ENSEMBLE__
  COPDsim    | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (All Sources; No Assimilation)
  COPDbbae   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Biomass Burning: Asia and Europe)
  COPDbbaf   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Biomass Burning: Africa)
  COPDbbla   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Biomass Burning: Central and South America)
  COPDbbna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Biomass Burning: North America)
  COPDbbgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Biomass Burning: Global)
  COPDffas   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Fossil Fuels: Asia)
  COPDffeu   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Fossil Fuels: Europe)
  COPDffna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Fossil Fuels: North America)
  COPDffru   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Fossil Fuels: Northern Asia)
  COPDffgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Fossil Fuels: Global)
  COPDnbas   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Non-Biomass Burning: Asia)
  COPDnbeu   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Non-Biomass Burning: Europe)
  COPDnbna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Non-Biomass Burning: North America)
  COPDnbgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Non-Biomass Burning: Global)
  COPDbfgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Biofuels: Global)
  COPDcpgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Production (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  COLS       | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss __ENSEMBLE__
  COLSsim    | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (All Sources; No Assimilation)
  COLSbbae   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Biomass Burning: Asia and Europe)
  COLSbbaf   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Biomass Burning: Africa)
  COLSbbla   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Biomass Burning: Central and South America)
  COLSbbna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Biomass Burning: North America)
  COLSbbgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Biomass Burning: Global)
  COLSffas   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Fossil Fuels: Asia)
  COLSffeu   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Fossil Fuels: Europe)
  COLSffna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Fossil Fuels: North America)
  COLSffru   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Fossil Fuels: Northern Asia)
  COLSffgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Fossil Fuels: Global)
  COLSnbas   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Non-Biomass Burning: Asia)
  COLSnbeu   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Non-Biomass Burning: Europea)
  COLSnbna   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Non-Biomass Burning: North America)
  COLSnbgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Non-Biomass Burning: Global)
  COLSbfgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Biofuels: Global)
  COLScpgl   | kg m-2 s-1  | xy  |   |    |   |   |     | CO Chemical Loss (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  COJP       | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production __ENSEMBLE__
  COJPsim    | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (All Sources; No Assimilation)
  COJPbbae   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Biomass Burning: Asia and Europe)
  COJPbbaf   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Biomass Burning: Africa)
  COJPbbla   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Biomass Burning: Central and South America)
  COJPbbna   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Biomass Burning: North America)
  COJPbbgl   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Biomass Burning: Global)
  COJPffas   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Fossil Fuels: Asia)
  COJPffeu   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Fossil Fuels: Europe)
  COJPffna   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Fossil Fuels: North America)
  COJPffru   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Fossil Fuels: Northern Asia)
  COJPffgl   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Fossil Fuels: Global)
  COJPnbas   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Non-Biomass Burning: Asia)
  COJPnbeu   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Non-Biomass Burning: Europea)
  COJPnbna   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Non-Biomass Burning: North America)
  COJPnbgl   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Non-Biomass Burning: Global)
  COJPbfgl   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Biofuels: Global)
  COJPcpgl   | m-3 s-1     | xyz | C |    |   |   |     | CO Photolytic Production (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  COSC       | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration __ENSEMBLE__
  COSCsim    | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (All Sources; No Assimilation)
  COSCbbae   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Biomass Burning: Asia and Europe)
  COSCbbaf   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Biomass Burning: Africa)
  COSCbbla   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Biomass Burning: Central and South America)
  COSCbbna   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Biomass Burning: North America)
  COSCbbgl   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Biomass Burning: Global)
  COSCffas   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Fossil Fuels: Asia)
  COSCffeu   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Fossil Fuels: Europe)
  COSCffna   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Fossil Fuels: North America)
  COSCffru   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Fossil Fuels: Northern Asia)
  COSCffgl   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Fossil Fuels: Global)
  COSCnbas   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Non-Biomass Burning: Asia)
  COSCnbeu   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Non-Biomass Burning: Europe)
  COSCnbna   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Non-Biomass Burning: North America)
  COSCnbgl   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Non-Biomass Burning: Global)
  COSCbfgl   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Biofuels: Global)
  COSCcpgl   | ppbv        | xy  |   |    |   |   |     | CO Surface Concentration (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  COCL       | kg m-2      | xy  |   |    |   |   |     | CO Column Burden __ENSEMBLE__
  COCLsim    | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (All Sources; No Assimilation)
  COCLbbae   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Biomass Burning: Asia and Europe)
  COCLbbaf   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Biomass Burning: Africa)
  COCLbbla   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Biomass Burning: Central and South America)
  COCLbbna   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Biomass Burning: North America)
  COCLbbgl   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Biomass Burning: Global)
  COCLffas   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Fossil Fuels: Asia)
  COCLffeu   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Fossil Fuels: Europe)
  COCLffna   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Fossil Fuels: North America)
  COCLffru   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Fossil Fuels: Northern Asia)
  COCLffgl   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Fossil Fuels: Global)
  COCLnbas   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Non-Biomass Burning: Asia)
  COCLnbeu   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Non-Biomass Burning: Europe)
  COCLnbna   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Non-Biomass Burning: North America)
  COCLnbgl   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Non-Biomass Burning: Global)
  COCLbfgl   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Biofuels: Global)
  COCLcpgl   | kg m-2      | xy  |   |    |   |   |     | CO Column Burden (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  CODRY      | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction __ENSEMBLE__
  CODRYsim   | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (All Sources; No Assimilation)
  CODRYbbae  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Biomass Burning: Asia and Europe)
  CODRYbbaf  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Biomass Burning: Africa)
  CODRYbbla  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Biomass Burning: Central and South America)
  CODRYbbna  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Biomass Burning: North America)
  CODRYbbgl  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Biomass Burning: Global)
  CODRYffas  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Fossil Fuels: Asia)
  CODRYffeu  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Fossil Fuels: Europe)
  CODRYffna  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Fossil Fuels: North America)
  CODRYffru  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Fossil Fuels: Northern Asia)
  CODRYffgl  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Fossil Fuels: Global)
  CODRYnbas  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Non-Biomass Burning: Asia)
  CODRYnbeu  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Non-Biomass Burning: Europe)
  CODRYnbna  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Non-Biomass Burning: North America)
  CODRYnbgl  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Non-Biomass Burning: Global)
  CODRYbfgl  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Biofuels: Global)
  CODRYcpgl  | mol mol-1   | xyz | C |    |   |   |     | CO Dry-Air Mole Fraction (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  COSD       | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration __ENSEMBLE__
  COSDsim    | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (All Sources; No Assimilation)
  COSDbbae   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Biomass Burning: Asia and Europe)
  COSDbbaf   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Biomass Burning: Africa)
  COSDbbla   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Biomass Burning: Central and South America)
  COSDbbna   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Biomass Burning: North America)
  COSDbbgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Biomass Burning: Global)
  COSDffas   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Fossil Fuels: Asia)
  COSDffeu   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Fossil Fuels: Europe)
  COSDffna   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Fossil Fuels: North America)
  COSDffru   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Fossil Fuels: Northern Asia)
  COSDffgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Fossil Fuels: Global)
  COSDnbas   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Non-Biomass Burning: Asia)
  COSDnbeu   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Non-Biomass Burning: Europe)
  COSDnbna   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Non-Biomass Burning: North America)
  COSDnbgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Non-Biomass Burning: Global)
  COSDbfgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Biofuels: Global)
  COSDcpgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Surface Concentration (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
  COCD       | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden __ENSEMBLE__
  COCDsim    | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (All Sources; No Assimilation)
  COCDbbae   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Biomass Burning: Asia and Europe)
  COCDbbaf   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Biomass Burning: Africa)
  COCDbbla   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Biomass Burning: Central and South America)
  COCDbbna   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Biomass Burning: North America)
  COCDbbgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Biomass Burning: Global)
  COCDffas   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Fossil Fuels: Asia)
  COCDffeu   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Fossil Fuels: Europe)
  COCDffna   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Fossil Fuels: North America)
  COCDffru   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Fossil Fuels: Northern Asia)
  COCDffgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Fossil Fuels: Global)
  COCDnbas   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Non-Biomass Burning: Asia)
  COCDnbeu   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Non-Biomass Burning: Europe)
  COCDnbna   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Non-Biomass Burning: North America)
  COCDnbgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Non-Biomass Burning: Global)
  COCDbfgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Biofuels: Global)
  COCDcpgl   | mol mol-1   | xy  |   |    |   |   |     | CO Dry-Air Column Burden (Chemical Production: Global)
#------------+-------------+-----+---+----+---+---+-----+-------------------------------------------
</CO::ExportSpec>
