# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GOCART should be owned by the Chem gatekeepers
* @GEOS-ESM/chemistry-gatekeepers

# NOAA Extras are Tom, William for now
/CCPP/                  @tclune @weiyuan_jiang
/ESMF/Aerosol_GridComp/ @tclune @weiyuan_jiang
/ESMF/NUOPC/            @tclune @weiyuan_jiang
/ESMF/Shared/           @tclune @weiyuan_jiang
/ESMF/UFS/              @tclune @weiyuan_jiang

# GOCART code reflects Chem GridComp
/ESMF/GOCART_GridComp/   @GEOS-ESM/aerosol-team

# GOCART2G is Elliot for now
#/ESMF/GOCART2G_GridComp/ @GEOS-ESM/aerosol-team
/ESMF/GOCART2G_GridComp/ @gmao-esherman

# The CMake Team should know/approve these
/.github/    @GEOS-ESM/cmake-team
/.circleci/  @GEOS-ESM/cmake-team
/.codebuild/ @GEOS-ESM/cmake-team

# The GEOS CMake Team should be notified about and approve config changes
/config/ @GEOS-ESM/cmake-team

# The Python Transition Team will own Python files
# until the Python 3 transition is completed
*.py @GEOS-ESM/python-transition-team

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team
