# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# Everything in GOCART should be owned by the Aerosol Team
* @GEOS-ESM/aerosol-team

# NOAA Extras are Tom, Weiyuan for now
/CCPP/                  @GEOS-ESM/mapl-team @GEOS-ESM/aerosol-team
/ESMF/Aerosol_GridComp/ @GEOS-ESM/mapl-team @GEOS-ESM/aerosol-team
/ESMF/NUOPC/            @GEOS-ESM/mapl-team @GEOS-ESM/aerosol-team
/ESMF/UFS/              @GEOS-ESM/mapl-team @GEOS-ESM/aerosol-team

# The CMake Team should know/approve these
/.github/    @GEOS-ESM/cmake-team @GEOS-ESM/aerosol-team
/.circleci/  @GEOS-ESM/cmake-team @GEOS-ESM/aerosol-team
/.codebuild/ @GEOS-ESM/cmake-team @GEOS-ESM/aerosol-team
