#
# Resource file for Radon parameters. 
#

number_Rn_bins: 1 
Rn_regions: ExtData/g5chem/sfc/RADON.region_mask.x540_y361.2001.nc

# Indicate regions using a comma-delimited list of integers.
# To activate all land boxes, use -1, or all or global (not case sensitive)
# -------------------------------------------------------------------------
Rn_regions_indices: 3

# For all land boxes in a latitude range, set doZoneMasking to
# 1 then specify BOTH the south and north limits in degrees.
# WARNING: When set, zone masking OVERRIDES regions setting above!
# ----------------------------------------------------------------
doZoneMasking: 0
LatitudeSouth: 45.0
LatitudeNorth: 90.0

# Half-life and unit, which must be "years", "days", or "seconds".
# ----------------------------------------------------------------
HalfLife: 3.823
HalfLifeUnit: days

# Emission, mBq m^{-2} s^{-1}
# ---------------------------
Rn_emission_file_name: ExtData/g5chem/sfc/gocart.radon.x540_y361.nc

# Run-time debug switch [0 = off, 1 = on]
# ---------------------------------------
DEBUG: 0
