version: 2.1

executors:
  gcc-build-env:
    docker:
      - image: gmao/ubuntu20-geos-env-mkl:v6.1.0-openmpi_4.0.5-gcc_10.2.0
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_AUTH_TOKEN
    environment:
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
      OMPI_MCA_btl_vader_single_copy_mechanism: none
    resource_class: xlarge
    #MEDIUM# resource_class: medium

workflows:
  version: 2.1
  build-and-test:
    jobs:
      - build-GOCART2G:
          context:
            - docker-hub-creds
      - build-GEOSgcm:
          context:
            - docker-hub-creds

jobs:
  build-GOCART2G:
    executor: gcc-build-env
    working_directory: /root/project
    steps:
      - checkout:
          path: GOCART
      - run:
          name: "Versions etc"
          command: mpirun --version && gfortran --version && echo $BASEDIR && pwd && ls
      - run:
          name: "Mepo clone external repos"
          command: |
            cd ${CIRCLE_WORKING_DIRECTORY}/GOCART
            mepo clone
            mepo status
      - run:
          name: "CMake"
          command: |
            cd ${CIRCLE_WORKING_DIRECTORY}/GOCART
            mkdir build
            cd build
            cmake .. -DBASEDIR=$BASEDIR/Linux -DCMAKE_Fortran_COMPILER=gfortran -DCMAKE_BUILD_TYPE=Debug -DUSE_F2PY=OFF -DMPIEXEC_PREFLAGS='--oversubscribe'
      - run:
          name: "Build GOCART2G_GridComp"
          command: |
            cd ${CIRCLE_WORKING_DIRECTORY}/GOCART/build
            make -j"$(nproc)" install
            #MEDIUM# make -j4 GOCART2G_GridComp

  build-GEOSgcm:
    executor: gcc-build-env
    working_directory: /root/project
    steps:
      - run:
          name: "Checkout GEOSgcm fixture"
          command: |
            cd ${CIRCLE_WORKING_DIRECTORY}
            git clone https://github.com/GEOS-ESM/GEOSgcm.git
      - run:
          name: "Mepo clone external repos"
          command: |
            cd ${CIRCLE_WORKING_DIRECTORY}/GEOSgcm
            mepo clone
            mepo develop GEOSgcm_GridComp GEOSgcm_App
            mepo status
      - run:
          name: "Mepo checkout GOCART branch(es)"
          command: |
            cd ${CIRCLE_WORKING_DIRECTORY}/GEOSgcm
            mepo checkout-if-exists ${CIRCLE_BRANCH}
            mepo status
      - run:
          name: "CMake"
          command: |
            cd ${CIRCLE_WORKING_DIRECTORY}/GEOSgcm
            mkdir build
            cd build
            cmake .. -DBASEDIR=$BASEDIR/Linux -DCMAKE_Fortran_COMPILER=gfortran -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX=${CIRCLE_WORKING_DIRECTORY}/workspace/install-GEOSgcm -DUSE_F2PY=OFF 
      - run:
          name: "Build and install"
          command: |
            cd ${CIRCLE_WORKING_DIRECTORY}/GEOSgcm/build
            make -j"$(nproc)" install
            #MEDIUM# make -j4 install
