PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
# Biomass burning -- QFED-v2.x
OC_BIOMASS NA  N Y %y4-%m2-%d2t12:00:00 none none biomass ExtData/PIESA/sfc/QFED/v2.4r6/Y%y4/M%m2/qfed2.emis_oc.005.%y4%m2%d2.nc4

# Terpene emission
OC_TERPENE NA  Y Y %y4-%m2-%d2t12:00:00 none none terpene ExtData/PIESA/sfc/geia.terpene_biogenic.x144_y91_t12.1971.nc

# Biofuel Source -- Included in AeroCom anthropogenic emissions
OC_BIOFUEL NA  Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null

# Anthropogenic (BF & FF) emissions -- allowed to input as two layers
OC_ANTEOC1 NA  N Y %y4-%m2-%d2t12:00:00 none none anteoc1 ExtData/PIESA/sfc/AeroCom.noship_OC_src.sfc.x360_y181_t44.19780703_12z_20210703_12z.nc
OC_ANTEOC2 NA  Y Y %y4-%m2-%d2t12:00:00 none none anteoc2 /dev/null

# EDGAR based ship emissions
OC_SHIP    NA  N Y %y4-%m2-%d2t12:00:00 none none oc_ship ExtData/PIESA/sfc/AeroCom.ship_OC_src.sfc.x360_y181_t44.19780703_12z_20210703_12z.nc

# Aviation emissions during the three phases of flight
OC_AVIATION_LTO NA  Y Y %y4-%m2-%d2t12:00:00 none none none /dev/null
OC_AVIATION_CDS NA  Y Y %y4-%m2-%d2t12:00:00 none none none /dev/null
OC_AVIATION_CRS NA  Y Y %y4-%m2-%d2t12:00:00 none none none /dev/null

# Anthropogenic emissions from NEI08 (National Emission Inventory, only US and Canada)
# OC_NEI_BOT NA  N Y 0 none none OC /discover/nobackup/projects/gmao/share/dasilva/fvInput/AeroCom/sfc/NEI08.bot.x1152_y721_t8760.2010.nc4
# OC_NEI_TOP NA  N Y 0 none none OC /discover/nobackup/projects/gmao/share/dasilva/fvInput/AeroCom/sfc/NEI08.top.x1152_y721_t8760.2010.nc4

# SOA production
pSOA_ANTHRO_VOC NA Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null
%%

