#
# This the GOCART Grid Component Registry. It defines Import,
# Internal and Export states for this component as well as
# any 
#
# !REVISION HISTORY:
#  16Aug2006  da Silva  First Version
#
# -----------------------------------------------------------------

  COMP_NAME: CH4

# Only change the Registry version when major structural changes
# occurs, not changes in content
# --------------------------------------------------------------
  GEOS_REGISTRY_VERSION: 1.00  

<CH4::ExportSpec cols="SHORT UNITS DIMS VLOC STAT REFRESH AVG SUBTILES LONG">
# ----------------|------------|-----|---|----|---|---|-----|---------------------------------
#    Short        |            |     | V |Item|Intervl|# Sub|          Long
#    Name         |   Units    | Dim |Loc|Type| R | A |Tiles|          Name
# ----------------|------------|-----|---|----|---|---|-----|---------------------------------
  CH4EM           | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Emission __ENSEMBLE__
  CH4EMwetland    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Emission wetlands
  CH4EMindustrial | kg m-2 s-1 | xy  |   |    |   |   |	    | CH4 Emission industrial
  CH4EMextract    | kg m-2 s-1 | xy  |   |    |   |   |	    | CH4 Emission extraction
  CH4EMtransport  | kg m-2 s-1 | xy  |   |    |   |   |	    | CH4 Emission transportation
  CH4EMagwaste    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Emission agriculture and waste
  CH4EMbiofuel    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Emission short-cycle carbon
  CH4EMonat       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Emission other natural
  CH4EMfire       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Emission biomass burning
  CH4EMnull       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Emission null tracer
  CH4EMtotal      | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Emission total
# -------------------------------------------------------------------------------------------
  CH4PD           | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production __ENSEMBLE__
  CH4PDwetland    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production wetlands
  CH4PDindustrial | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production industrial
  CH4PDextract    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production extraction
  CH4PDtransport  | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production transportation
  CH4PDagwaste    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production agriculture and waste
  CH4PDbiofuel    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production short-cycle carbon
  CH4PDonat       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production other natural
  CH4PDfire       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production biomass burning
  CH4PDnull       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production null tracer
  CH4PDtotal      | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Production total
# -------------------------------------------------------------------------------------------
  CH4LS           | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss __ENSEMBLE__
  CH4LSwetland    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss wetlands
  CH4LSindustrial | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss industrial
  CH4LSextract    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss extraction
  CH4LStransport  | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss transportation
  CH4LSagwaste    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss agriculture and waste
  CH4LSbiofuel    | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss short-cycle carbon
  CH4LSonat       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss other natural
  CH4LSfire       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss biomass burning
  CH4LSnull       | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss null tracer
  CH4LStotal      | kg m-2 s-1 | xy  |   |    |   |   |     | CH4 Chemical Loss total
# -------------------------------------------------------------------------------------------
  CH4SC           | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration __ENSEMBLE__
  CH4SCwetland    | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration wetlands
  CH4SCindustrial | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration industrial
  CH4SCextract    | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration extraction
  CH4SCtransport  | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration transportation
  CH4SCagwaste    | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration agriculture and waste
  CH4SCbiofuel    | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration short-cycle carbon
  CH4SConat       | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration other natural
  CH4SCfire       | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration biomass burning
  CH4SCnull       | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration null tracer
  CH4SCtotal      | ppbv       | xy  |   |    |   |   |     | CH4 Surface Concentration total
# -------------------------------------------------------------------------------------------
  CH4CL           | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden __ENSEMBLE__
  CH4CLwetland    | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden wetlands
  CH4CLindustrial | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden industrial
  CH4CLextract    | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden extraction
  CH4CLtransport  | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden transportation
  CH4CLagwaste    | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden agriculture and waste
  CH4CLbiofuel    | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden short-cycle carbon
  CH4CLonat       | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden other natural
  CH4CLfire       | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden biomass burning
  CH4CLnull       | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden null tracer
  CH4CLtotal      | kg m-2     | xy  |   |    |   |   |     | CH4 Column Burden total
# -------------------------------------------------------------------------------------------
  CH4JL	          | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss __ENSEMBLE__
  CH4JLwetland    | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss wetlands
  CH4JLindustrial | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss industrial
  CH4JLextract    | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss extraction
  CH4JLtransport  | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss transportation
  CH4JLagwaste    | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss agriculture and waste
  CH4JLbiofuel    | m-3 s-1    | xyz | C |    |   |   | | CH4 Photolytic Loss short-cycle carbon
  CH4JLonat       | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss other natural
  CH4JLfire       | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss biomass burning
  CH4JLnull       | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss null tracer
  CH4JLtotal      | m-3 s-1    | xyz | C |    |   |   |	| CH4 Photolytic Loss total
# -------------------------------------------------------------------------------------------
  CH4QP           | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis __ENSEMBLE__
  CH4QPwetland    | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis wetlands
  CH4QPindustrial | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis industrial
  CH4QPextract    | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis extraction
  CH4QPtransport  | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis transportation
  CH4QPagwaste    | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis agriculture and waste
  CH4QPbiofuel    | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis short-cycle carbon
  CH4QPonat       | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis other natural
  CH4QPfire       | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis biomass burning
  CH4QPnull       | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis null tracer
  CH4QPtotal      | kg kg-1 s-1 | xyz | C |    |   |   |     | H2O tendency from CH4 photolysis total
# -------------------------------------------------------------------------------------------
  CH4DRY	  | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction __ENSEMBLE__
  CH4DRYwetland   | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_wetlands
  CH4DRYindustrial| mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_industrial
  CH4DRYextract   | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_extraction
  CH4DRYtransport | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_transportation
  CH4DRYagwaste   | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_agriculture_and_waste
  CH4DRYbiofuel   | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_short_cycle_carbon
  CH4DRYonat      | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_municipal_sewers
  CH4DRYfire      | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_biomass_burning
  CH4DRYnull      | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_null_tracer
  CH4DRYtotal     | mol mol-1  | xyz | C |    |   |   |     | CH4_dry_air_mole_fraction_total
# ----------------|------------|-----|---|----|---|---|-----|---------------------------------
</CH4::ExportSpec>

