PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
# QFED-v2.x: emission file provides kg BC m-2 s-1
BC_BIOMASS NA  N Y %y4-%m2-%d2t12:00:00 none none biomass ExtData/MERRA2/sfc/HFED/v1.0/Y%y4/hfed.emis_bc.x576_y361_t14.%y4.nc4

# Biofuel Source -- Included in AeroCom anthropogenic emissions
BC_BIOFUEL NA  Y Y %y4-%m2-%d2t12:00:00 none none biofuel /dev/null

# Anthropogenic (BF & FF) emissions -- allowed to input as two layers
BC_ANTEBC1 NA  N Y %y4-%m2-%d2t12:00:00 none none antebc1 ExtData/AeroCom/sfc/AeroCom.noship_BC_src.sfc.x360_y181_t44.19780703_12z_20210703_12z.nc
BC_ANTEBC2 NA  Y Y %y4-%m2-%d2t12:00:00 none none antebc2 /dev/null

# EDGAR based ship emissions
BC_SHIP    NA  N Y %y4-%m2-%d2t12:00:00 none none bc_ship ExtData/MERRA2/sfc/edgar-v41.emis_bc.navigation.x360_y181_t47.19750703T12z_20210703T00z.nc4

# Aviation emissions during the LTO, SDC and CRS phases of flight
BC_AVIATION_LTO NA  N Y %y4-%m2-%d2t12:00:00 none none none /dev/null
BC_AVIATION_CDS NA  N Y %y4-%m2-%d2t12:00:00 none none none /dev/null 
BC_AVIATION_CRS NA  N Y %y4-%m2-%d2t12:00:00 none none none /dev/null
%%

