schema_version: 2.0.0
component: CA

category: IMPORT
#----------------------------------------------------------------------------------------
#  VARIABLE       | DIMENSIONS |          Additional Metadata
#----------------------------------------------------------------------------------------
     NAME         | UNITS      | DIMS | VLOC | RESTART | COND | LONG NAME
#----------------------------------------------------------------------------------------
 FROCEAN          | 1          | xy   | N    | OPT     |      | fraction_of_ocean
 FRACI            | 1          | xy   | N    | OPT     |      | ice_covered_fraction_of_tile
 LWI              | 1          | xy   | N    | OPT     |      | land-ocean-ice_mask
 TROPP            | Pa         | xy   | N    | OPT     |      | tropopause_pressure_based_on_blended_estimate
 U10M             | m s-1      | xy   | N    | OPT     |      | 10-meter_eastward_wind
 V10M             | m s-1      | xy   | N    | OPT     |      | 10-meter_northward_wind
 USTAR            | m s-1      | xy   | N    | OPT     |      | surface_velocity_scale
 FRLAKE           | 1          | xy   | N    | OPT     |      | fraction_of_lake
 AREA             | m^2        | xy   | N    | OPT     |      | agrid_cell_area
 ZPBL             | m          | xy   | N    | OPT     |      | planetary_boundary_layer_height
 SH               | w m-2      | xy   | N    | OPT     |      | sensible_heat_flux_from_turbulence
 Z0H              | m          | xy   | N    | OPT     |      | surface_roughness_for_heat
 CN_PRCP          | kg/m^2/s   | xy   | N    | OPT     |      | surface_conv._rain_flux_needed_by_land
 NCN_PRCP         | kg/m^2/s   | xy   | N    | OPT     |      | Non-convective precipitation
#........................................................................................
 AIRDENS          | kg/m^3     | xyz  | C    | OPT     |      | moist_air_density
 DELP             | Pa         | xyz  | C    | OPT     |      | pressure_thickness
 T                | K          | xyz  | C    | OPT     |      | air_temperature
 RH2              | 1          | xyz  | C    | OPT     |      | Rel_Hum_after_moist
 ZLE              | m          | xyz  | E    | OPT     |      | geopotential_height
 PLE              | Pa         | xyz  | E    | OPT     |      | air_pressure
 PFL_LSAN         | kg/m2/s    | xyz  | E    | OPT     |      | 3D_flux_of_liquid_nonconvective_precipitation
 PFI_LSAN         | kg/m2/s    | xyz  | E    | OPT     |      | 3D_flux_of_ice_nonconvective_precipitation
 U                | m s-1      | xyz  | C    | OPT     |      | eastward_wind
 V                | m s-1      | xyz  | C    | OPT     |      | northward_wind
 OC_AIRCRAFT      | 1          | xyz  | C    | SKIP    |      | aircraft emissions
 BC_AIRCRAFT      | 1          | xyz  | C    | SKIP    |      | aircraft emissions
 BRC_AIRCRAFT     | 1          | xyz  | C    | SKIP    |      | aircraft emissions
 pSOA_ANTHRO_VOC  | kg m-3 s-1 | xyz  | C    | SKIP    |      | SOA from Anthropogenic and biomass burning VOC
 pSOA_BIOB_VOC    | kg m-3 s-1 | xyz  | C    | SKIP    |      | SOA from Anthropogenic and biomass burning VOC
#........................................................................................
 OC_BIOMASS       | 1          | xy   | N    | SKIP    |      | biomass burning emissions
 OC_ISOPRENE      | 1          | xy   | N    | SKIP    |      | source species
 OC_MTPA          | 1          | xy   | N    | SKIP    |      | source species
 OC_MTPO          | 1          | xy   | N    | SKIP    |      | source species
 OC_LIMO          | 1          | xy   | N    | SKIP    |      | source species
 OC_BIOFUEL       | 1          | xy   | N    | SKIP    |      | biofuel emissions
 OC_ANTEOC1       | 1          | xy   | N    | SKIP    |      | anthropogenic BF emissions
 OC_ANTEOC2       | 1          | xy   | N    | SKIP    |      | anthropogenic FF emissions
 OC_SHIP          | 1          | xy   | N    | SKIP    |      | ship emissions
 OC_AVIATION_LTO  | 1          | xy   | N    | SKIP    |      | Landing/Take-off aircraft emissions
 OC_AVIATION_CDS  | 1          | xy   | N    | SKIP    |      | Climb/Descent aircraft emissions
 OC_AVIATION_CRS  | 1          | xy   | N    | SKIP    |      | Cruise aircraft source species
 BC_BIOMASS       | 1          | xy   | N    | SKIP    |      | biomass burning emissions
 BC_BIOFUEL       | 1          | xy   | N    | SKIP    |      | biofuel emissions
 BC_ANTEBC1       | 1          | xy   | N    | SKIP    |      | anthropogenic BF emissions
 BC_ANTEBC2       | 1          | xy   | N    | SKIP    |      | anthropogenic FF emissions
 BC_SHIP          | 1          | xy   | N    | SKIP    |      | ship emissions
 BC_AVIATION_LTO  | 1          | xy   | N    | SKIP    |      | Landing/Take-off aircraft emissions
 BC_AVIATION_CDS  | 1          | xy   | N    | SKIP    |      | Climb/Descent aircraft emissions
 BC_AVIATION_CRS  | 1          | xy   | N    | SKIP    |      | Cruise aircraft source species
 BRC_BIOMASS      | 1          | xy   | N    | SKIP    |      | biomass burning emissions
 BRC_TERPENE      | 1          | xy   | N    | SKIP    |      | terpene emissions
 BRC_BIOFUEL      | 1          | xy   | N    | SKIP    |      | biofuel emissions
 BRC_ANTEBRC1     | 1          | xy   | N    | SKIP    |      | anthropogenic BF emissions
 BRC_ANTEBRC2     | 1          | xy   | N    | SKIP    |      | anthropogenic FF emissions
 BRC_SHIP         | 1          | xy   | N    | SKIP    |      | ship emisisons
 BRC_AVIATION_LTO | 1          | xy   | N    | SKIP    |      | Landing/Take-off aircraft emissions
 BRC_AVIATION_CDS | 1          | xy   | N    | SKIP    |      | Climb/Descent aircraft emissions
 BRC_AVIATION_CRS | 1          | xy   | N    | SKIP    |      | Cruise aircraft source species

category: EXPORT
#----------------------------------------------------------------------------------------
#  VARIABLE                 |  DIMENSIONS   |          Additional Metadata
#----------------------------------------------------------------------------------------
 NAME         | UNITS        | DIMS  | VLOC  | UNGRIDDED                      | LONG NAME
#----------------------------------------------------------------------------------------
 *MASS        | kg kg-1      | xyz   | C     |                                | * Aerosol Mass Mixing Ratio
 *CONC        | kg m-3       | xyz   | C     |                                | * Aerosol Mass Concentration
 *EXTCOEF     | m-1          | xyz   | C     | size(self%wavelengths_profile) | * Aerosol Extinction Coefficient
 *EXTCOEFRH20 | m-1          | xyz   | C     | size(self%wavelengths_profile) | * Aerosol Extinction Coefficient - Fixed RH=20%
 *EXTCOEFRH80 | m-1          | xyz   | C     | size(self%wavelengths_profile) | * Aerosol Extinction Coefficient - Fixed RH=80%
 *SCACOEF     | m-1          | xyz   | C     | size(self%wavelengths_profile) | * Aerosol Scattering Coefficient
 *SCACOEFRH20 | m-1          | xyz   | C     | size(self%wavelengths_profile) | * Aerosol Scattering Coefficient - Fixed RH=20%
 *SCACOEFRH80 | m-1          | xyz   | C     | size(self%wavelengths_profile) | * Aerosol Scattering Coefficient - Fixed RH=80%
 *BCKCOEF     | m-1 sr-1     | xyz   | C     | size(self%wavelengths_profile) | * Aerosol Backscatter Coefficient
#............ | ............ | ..... | ..... | .......                        | ............................................
 *EM          | kg m-2 s-1   | xy    | N     | nbins                          | * Aerosol Emission (Bin %d)
 *SD          | kg m-2 s-1   | xy    | N     | nbins                          | * Aerosol Sedimentation (Bin %d)
 *DP          | kg m-2 s-1   | xy    | N     | nbins                          | * Aerosol Dry Deposition (Bin %d)
 *WT          | kg m-2 s-1   | xy    | N     | nbins                          | * Aerosol Wet Deposition (Bin %d)
 *SV          | kg m-2 s-1   | xy    | N     | nbins                          | * Aerosol Convective Scavenging (Bin %d)
 *EMAN        | kg m-2 s-1   | xy    | N     |                                | * Aerosol Anthropogenic Emissions
 *EMBB        | kg m-2 s-1   | xy    | N     |                                | * Aerosol Biomass Burning Emissions
 *EMBF        | kg m-2 s-1   | xy    | N     |                                | * Aerosol Biofuel Emissions
 *EMBG        | kg m-2 s-1   | xy    | N     |                                | * Aerosol Biogenic Emissions
 *HYPHIL      | kg m-2 s-1   | xy    | N     |                                | * Aerosol Hydrophobic to Hydrophilic
 *PSOA        | kg m-2 s-1   | xy    | N     |                                | * Aerosol SOA Production
 *SMASS       | kg m-3       | xy    | N     |                                | * Aerosol Surface Mass Concentration
 *CMASS       | kg m-2       | xy    | N     |                                | * Aerosol Column Mass Density
 *EXTTAU      | 1            | xy    | N     | size(self%wavelengths_vertint) | * Aerosol Extinction AOT
 *STEXTTAU    | 1            | xy    | N     | size(self%wavelengths_vertint) | * Aerosol Extinction AOT Stratosphere
 *SCATAU      | 1            | xy    | N     | size(self%wavelengths_vertint) | * Aerosol Scattering AOT
 *STSCATAU    | 1            | xy    | N     | size(self%wavelengths_vertint) | * Aerosol Scattering AOT Stratosphere
 *ANGSTR      | 1            | xy    | N     |                                | * Aerosol Angstrom parameter [470-870 nm]
 *FLUXU       | kg m-1 s-1   | xy    | N     |                                | * Aerosol column u-wind mass flux
 *FLUXV       | kg m-1 s-1   | xy    | N     |                                | * Aerosol column v-wind mass flux
 *AERIDX      | 1            | xy    | N     |                                | * Aerosol TOMS UV Aerosol Index



category: INTERNAL
#--------------------------------------------------------------------------------------------------------------
#  VARIABLE        | DIMENSION   |          Additional Metadata
#--------------------------------------------------------------------------------------------------------------
  NAME   | UNITS   | DIMS | VLOC | RESTART              | ADD2EXPORT | FRIENDLYTO                | LONG NAME
#--------------------------------------------------------------------------------------------------------------
 *phobic | kg kg-1 | xyz  | C    | MAPL_RestartOptional | T          | DYNAMICS:TURBULENCE:MOIST | * Hydrophobic Aerosol Mixing Ratio
 *philic | kg kg-1 | xyz  | C    | MAPL_RestartOptional | T          | DYNAMICS:TURBULENCE:MOIST | * Hydrophilic Aerosol Mixing Ratio

#********************************************************
#
# Legend
#
#------------------------------------------------------------------
# Column label | MAPL keyword/interpretation |  Default
#--------------|---------------------------------------------------
# NAME         | short_name                  |
# UNITS        | units                       |
# DIMS         | dims                        |
# VLOC         | VLocation                   | MAPL_VLocationNone
# LONG NAME    | long_name                   |
# COND         | if (<logical-expr>) then    |  .FALSE.
# NUM_SUBTILES | num_subtiles
# ...
#------------------------------------------------------------------
#
#--------------------------------------------
# Entry alias  | Column | MAPL keyword/interpretation
#--------------|-----------------------------
# xyz          | DIMS   | MAPL_HorzVert
# xy           | DIMS   | MAPL_HorzOnly
# z            | DIMS   | MAPL_VertOnly  (plus ungridded)
# C            | VLOC   | MAPL_VlocationCenter
# E            | VLOC   | MAPL_VlocationEdge
# N            | VLOC   | MAPL_VlocationNone
#--------------------------------------------

