
MAPLROOT_COMPNAME: GCM
        ROOT_NAME: GCM
ROOT_CF: AGCM.rc
HIST_CF: HISTORY.rc

BEG_DATE:     18910301 000000
END_DATE:     29990302 210000
JOB_SGMT:     00000003 000000
NUM_SGMT:     1
HEARTBEAT_DT:       900

USE_SHMEM: 0

# Parameters for Cycled REPLAY Forecasts
# --------------------------------------
 BEG_REPDATE: YYYYMMDD
 END_REPDATE: YYYYMMDD
FCST_SEGMENT: 00000000

#PERPETUAL_YEAR:   YYYY
#PERPETUAL_MONTH:    MM
#PERPETUAL_DAY:      DD

MAPL_ENABLE_TIMERS: YES
MAPL_ENABLE_MEMUTILS: NO
PRINTSPEC: 0  # (0: OFF, 1: IMPORT & EXPORT, 2: IMPORT, 3: EXPORT)


