#
# Resource file Dust parameters. 
#

number_dust_bins: 5


particle_radius: 0.73 1.4 2.4 4.5 8.0

radius_lower: 0.1 1.0 1.8 3.0 6.0

radius_upper: 1.0 1.8 3.0 6.0 10.0

soil_density: 2500. 2650. 2650. 2650. 2650.

# Emission scheme
# ---------------
emission_scheme: 1 # Ginoux
source_fraction: 0.1 0.25 0.25 0.25 0.25
Ch_DU: 0.2 0.2 0.08 0.08 0.08 0.067  # Resolution dependent tuning constant for emissions (a,b,c,d,e,f)
# ---------------

# Scavenging efficiency per bin [km-1]
fscav: 0.2  0.2  0.2  0.2  0.2   #    

# Molecular weight of species [kg mole-1]
molecular_weight: 0.1  0.1  0.1  0.1  0.1

# Number of particles per kg mass
fnum: 2.45e14  3.28e13  6.52e12  9.89e11 1.76e11

rhFlag: 0

# Maring settling velocity correction
maringFlag: 1

# Threshold friction velocity parameter 'gamma'
uts_gamma: 1.65e-4

# Formulation of the clay and silt factor in K14 that modulates the strength of the dust emissions
clayFlag: 1     # 0 - original K14, 1 - I&K2017, 2 - I&K2017

# soil mosture scaling factor
soil_moisture_factor: 0.8

# clay fraction scaling factor
soil_clay_factor: 1.0


