PrimaryExports%%
# A = Climatology? Y/N; B = Conservative regridding? Y/N
#-------------------+-------------------+-+-+---------------------+--------+--------+------------------------------------
# Export name       | Units             |A|B| Time template       | Offset | Scale  | Variable    | File template
#-------------------+-------------------+-+-+---------------------+--------+--------+-------------+----------------------
  CO2_BIOMASS        'kg CO2 m-2 s-1'    N Y F%y4-%m2-%d2t12:00:00  none     none     biomass       ExtData/chemistry/QFED/v2.6r1/sfc/0.1/Y%y4/M%m2/qfed2.emis_co2.061.%y4%m2%d2.nc4
  CO2_FF             'kg C m-2 s-1'      N Y F%y4-%m2-%d2t12:00:00  none     none     emco2ff       /discover/nobackup/bweir/fluxes/carbon/v2020/CO2/LoFI/daily/lofi-v2020.emis_co2.x576_y361.daily.%y4.nc
  CO2_NEP            'kg C m-2 s-1'      N Y  P0000-00-00T03:00     none     none     emco2nep      /discover/nobackup/bweir/fluxes/carbon/v2020/CO2/LoFI/3hrly/lofi-v2020.emis_co2.x576_y361.3hrly.%y4%m2.nc
  CO2_OCN            'kg C m-2 s-1'      N Y F%y4-%m2-%d2t12:00:00  none     none     emco2ocn      /discover/nobackup/bweir/fluxes/carbon/v2020/CO2/LoFI/daily/lofi-v2020.emis_co2.x576_y361.daily.%y4.nc


  CO2_CMS_BIOMASS    'kg C m-2 s-1'      N Y F%y4-%m2-%d2t12:00:00  none     0.272727 biomass       ExtData/chemistry/QFED/v2.6r1/sfc/0.1/Y%y4/M%m2/qfed2.emis_co2.061.%y4%m2%d2.nc4
  CO2_CMS_FF         'kg C m-2 s-1'      N Y F%y4-%m2-%d2t12:00:00  none     none     emco2ff       /discover/nobackup/bweir/fluxes/carbon/v2020/CO2/LoFI/daily/lofi-v2020.emis_co2.x576_y361.daily.%y4.nc
  CO2_CMS_NEP        'kg C m-2 s-1'      N Y  P0000-00-00T03:00     none     none     emco2nep      /discover/nobackup/bweir/fluxes/carbon/v2020/CO2/LoFI/3hrly/lofi-v2020.emis_co2.x576_y361.3hrly.%y4%m2.nc
  CO2_CMS_OCN        'kg C m-2 s-1'      N Y F%y4-%m2-%d2t12:00:00  none     none     emco2ocn      /discover/nobackup/bweir/fluxes/carbon/v2020/CO2/LoFI/daily/lofi-v2020.emis_co2.x576_y361.daily.%y4.nc

  CO2_regionMask      NA                 N v   -                    none     none     REGION_MASK   /discover/nobackup/bweir/fluxes/masks/transcom.region_mask.x576_y361.2006.nc
#-------------------+-------------------+-+-+---------------------+--------+--------+-------------+----------------------
%%
