fields_to_scale:
    BCPhobic 1.d-9
    BCPhilic 1.d-9
    OCPhobic 1.d-9
    OCPhilic 1.d-9
    DU001    1.d-9
    DU002    1.d-9
    DU003    1.d-9
    DU004    1.d-9
    DU005    1.d-9
    SS001    1.d-9
    SS002    1.d-9
    SS003    1.d-9
    SS004    1.d-9
    SS005    1.d-9
::