#
# Resource file for CO2 parameters. 
#

number_CO2_bins:      2
CO2_regions_indices: -1 -1 -1 -1

# Run-time debug switch (0 off, 1 on)
# -----------------------------------
DEBUG: 0

# Run year-specific CMS emissions (0 runs climatological monthly mean emissions, 1 runs CMS)
# ------------------------------------------------------------------------------------------
CMS_EMIS: 1

#                               ------------------------
#                               Climatological Emissions
#                               ------------------------

CO2_fossilfuel_emissions_factor: 1.
# This emissions option assumes biomass burning emissions are in kg CO2 m-2 s-1
# (e.g., for QFED this number should be 1)
CO2_biomass_emission_factor: 1.

# Biosphere drawdown enhancement factor used for climatological emissions.
# Range: < 0 invalid, < 1 reduce sink, 1 neutral, > 1 enhance sink.
# ------------------------------------------------------------------------
#Biosphere_drawdown_factor: 1.2448
Biosphere_drawdown_factor: 1.

#                                  -------------
#                                  CMS Emissions
#                                  -------------

CMS_fossilfuel_emissions_factor: 1.
CMS_biomass_emission_factor: 1.
