PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|

# SS.data - 3D
climss001           'kg kg-1'            Y        N               0              0.0      1.0     SS001      ExtData/chemistry/MERRA2/v0.0.0/L72/merra2.aer_Nv.2003-2015.2008%m2clm.nc4
climss002           'kg kg-1'            Y        N               0              0.0      1.0     SS002      ExtData/chemistry/MERRA2/v0.0.0/L72/merra2.aer_Nv.2003-2015.2008%m2clm.nc4
climss003           'kg kg-1'            Y        N               0              0.0      1.0     SS003      ExtData/chemistry/MERRA2/v0.0.0/L72/merra2.aer_Nv.2003-2015.2008%m2clm.nc4
climss004           'kg kg-1'            Y        N               0              0.0      1.0     SS004      ExtData/chemistry/MERRA2/v0.0.0/L72/merra2.aer_Nv.2003-2015.2008%m2clm.nc4
climss005           'kg kg-1'            Y        N               0              0.0      1.0     SS005      ExtData/chemistry/MERRA2/v0.0.0/L72/merra2.aer_Nv.2003-2015.2008%m2clm.nc4


# SS.data - 2D


climSSDP001         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSDP001    /dev/null
climSSWT001         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSWT001    /dev/null
climSSSD001         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSD001    /dev/null
climSSSV001         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSV001    /dev/null

climSSDP002         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSDP002    /dev/null
climSSWT002         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSWT002    /dev/null
climSSSD002         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSD002    /dev/null
climSSSV002         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSV002    /dev/null

climSSDP003         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSDP003    /dev/null
climSSWT003         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSWT003    /dev/null
climSSSD003         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSD003    /dev/null
climSSSV003         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSV003    /dev/null

climSSDP004         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSDP004    /dev/null
climSSWT004         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSWT004    /dev/null
climSSSD004         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSD004    /dev/null
climSSSV004         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSV004    /dev/null

climSSDP005         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSDP005    /dev/null
climSSWT005         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSWT005    /dev/null
climSSSD005         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSD005    /dev/null
climSSSV005         'kg m-2 s-1'         Y        N               0              0.0      1.0     SSSV005    /dev/null

%%

