schema_version: 2.0.0
component: SS

category: IMPORT
#----------------------------------------------------------------------------------------
#  VARIABLE          | DIMENSIONS |          Additional Metadata
#----------------------------------------------------------------------------------------
     NAME   | UNITS  | DIMS | VLOC| COND | LONG NAME
#----------------------------------------------------------------------------------------
 FROCEAN    | 1      | xy   | N   |      | fraction_of_ocean
 FRACI      | 1      | xy   | N   |      | ice_covered_fraction_of_tile
 LWI        | 1      | xy   | N   |      | land-ocean-ice_mask
 TROPP      | Pa     | xy   | N   |      | tropopause_pressure_based_on_blended_estimate
 U10M       | m s-1  | xy   | N   |      | 10-meter_eastward_wind
 V10M       | m s-1  | xy   | N   |      | 10-meter_northward_wind
 USTAR      | m s-1  | xy   | N   |      | surface_velocity_scale
 TS         | K      | xy   | N   |      | surface skin temperature
 DZ         | m      | xy   | N   |      | surface_layer_height
 FRLAKE     | 1      | xy   | N   |      | fraction_of_lake
 AREA       | m^2    | xy   | N   |      | agrid_cell_area
 ZPBL       | m      | xy   | N   |      | planetary_boundary_layer_height
 SH         | w m-2  | xy   | N   |      | sensible_heat_flux_from_turbulence
 Z0H        | m      | xy   | N   |      | surface_roughness_for_heat
 CN_PRCP    |kg/m^2/s| xy   | N   |      | surface_conv._rain_flux_needed_by_land
 NCN_PRCP   |kg/m^2/s| xy   | N   |      | Non-convective precipitation
#........................................................................................
 AIRDENS    | kg/m^3 | xyz  | C   |      | moist_air_density
 DELP       | Pa     | xyz  | C   |      | pressure_thickness
 T          | K      | xyz  | C   |      | air_temperature
 RH2        | 1      | xyz  | C   |      | Rel_Hum_after_moist
 ZLE        | m      | xyz  | E   |      | geopotential_height
 PLE        | Pa     | xyz  | E   |      | air_pressure
 PFL_LSAN   | kg/m2/s| xyz  | E   |      | 3D_flux_of_liquid_nonconvective_precipitation
 PFI_LSAN   | kg/m2/s| xyz  | E   |      | 3D_flux_of_ice_nonconvective_precipitation
 U          | m s-1  | xyz  | C   |      | eastward_wind
 V          | m s-1  | xyz  | C   |      | northward_wind

category: EXPORT
#----------------------------------------------------------------------------------------
#  VARIABLE                | DIMENSIONS    |          Additional Metadata
#----------------------------------------------------------------------------------------
 NAME          | UNITS        | DIMS  | VLOC  | UNGRIDDED                      | LONG NAME
#----------------------------------------------------------------------------------------
 SSMASS        | kg kg-1      | xyz   | C     |                                | Sea Salt Mass Mixing Ratio
 SSMASS25      | kg kg-1      | xyz   | C     |                                | Sea Salt Mass Mixing Ratio - PM 2.5
 SSCONC        | kg m-3       | xyz   | C     |                                | Sea Salt Mass Concentration
 SSEXTCOEF     | m-1          | xyz   | C     | size(self%wavelengths_profile) | Sea Salt Extinction Coefficient
 SSEXTCOEFRH20 | m-1          | xyz   | C     | size(self%wavelengths_profile) | Sea Salt Extinction Coefficient - Fixed RH=20%
 SSEXTCOEFRH80 | m-1          | xyz   | C     | size(self%wavelengths_profile) | Sea Salt Extinction Coefficient - Fixed RH=80%
 SSSCACOEF     | m-1          | xyz   | C     | size(self%wavelengths_profile) | Sea Salt Scattering Coefficient
 SSSCACOEFRH20 | m-1          | xyz   | C     | size(self%wavelengths_profile) | Sea Salt Scattering Coefficient - Fixed RH=20%
 SSSCACOEFRH80 | m-1          | xyz   | C     | size(self%wavelengths_profile) | Sea Salt Scattering Coefficient - Fixed RH=80%
 SSBCKCOEF     | m-1 sr-1     | xyz   | C     | size(self%wavelengths_profile) | Sea Salt Backscatter Coefficient
#............. | ............ | ..... | ..... | ............                   | ..................................
 SSEM          | kg m-2 s-1   | xy    | N     | self%nbins                     | Sea Salt Emission (Bin %d)
 SSSD          | kg m-2 s-1   | xy    | N     | self%nbins                     | Sea Salt Sedimentation (Bin %d)
 SSDP          | kg m-2 s-1   | xy    | N     | self%nbins                     | Sea Salt Dry Deposition (Bin %d)
 SSWT          | kg m-2 s-1   | xy    | N     | self%nbins                     | Sea Salt Wet Deposition (Bin %d)
 SSSV          | kg m-2 s-1   | xy    | N     | self%nbins                     | Sea Salt Convective Scavenging (Bin %d)
 SSSMASS       | kg m-3       | xy    | N     |                                | Sea Salt Surface Mass Concentration
 SSCMASS       | kg m-2       | xy    | N     |                                | Sea Salt Column Mass Density
 SSEXTTAU      | 1            | xy    | N     | size(self%wavelengths_vertint) | Sea Salt Extinction AOT
 SSSTEXTTAU    | 1            | xy    | N     | size(self%wavelengths_vertint) | Sea Salt Extinction AOT Stratosphere
 SSSCATAU      | 1            | xy    | N     | size(self%wavelengths_vertint) | Sea Salt Scattering AOT
 SSSTSCATAU    | 1            | xy    | N     | size(self%wavelengths_vertint) | Sea Salt Scattering AOT Stratosphere
 SSSMASS25     | kg m-3       | xy    | N     |                                | Sea Salt Surface Mass Concentration - PM 2.5
 SSCMASS25     | kg m-2       | xy    | N     |                                | Sea Salt Column Mass Density - PM 2.5
 SSEXTT25      | 1            | xy    | N     | size(self%wavelengths_vertint) | Sea Salt Extinction AOT - PM 2.5
 SSSCAT25      | 1            | xy    | N     | size(self%wavelengths_vertint) | Sea Salt Scattering AOT - PM 2.5
 SSAERIDX      | 1            | xy    | N     |                                | Sea Salt TOMS UV Aerosol Index
 SSEXTTFM      | 1            | xy    | N     | size(self%wavelengths_vertint) | Sea Salt Extinction AOT [550 nm] - PM 1.0 um
 SSSCATFM      | 1            | xy    | N     | size(self%wavelengths_vertint) | Sea Salt Scattering AOT [550 nm] - PM 1.0 um
 SSANGSTR      | 1            | xy    | N     |                                | Sea Salt Angstrom parameter [470-870 nm]
 SSFLUXU       | kg m-1 s-1   | xy    | N     |                                | Sea Salt column u-wind mass flux
 SSFLUXV       | kg m-1 s-1   | xy    | N     |                                | Sea Salt column v-wind mass flux


category: INTERNAL
#----------------------------------------------------------------------------------------
#  VARIABLE                | DIMENSION        |          Additional Metadata
#----------------------------------------------------------------------------------------
  NAME | UNITS | DIMS | VLOC | UNGRIDDED | RESTART | ADD2EXPORT | FRIENDLYTO | LONG NAME
#----------------------------------------------------------------------------------------
 SS              |kg kg-1| xyz  | C    | self%nbins | MAPL_RestartOptional | T | DYNAMICS:TURBULENCE:MOIST | Sea Salt Mixing Ratio (bin %d)
 DEEP_LAKES_MASK |   1   | xy   | N    |            | MAPL_RestartSkip     | F |                           | Deep Lakes Mask

#********************************************************
#
# Legend
#
#------------------------------------------------------------------
# Column label | MAPL keyword/interpretation |  Default
#--------------|---------------------------------------------------
# NAME         | short_name                  |
# UNITS        | units                       |
# DIMS         | dims                        |
# VLOC         | VLocation                   | MAPL_VLocationNone
# LONG NAME    | long_name                   |
# COND         | if (<logical-expr>) then    |  .FALSE.
# NUM_SUBTILES | num_subtiles
# ...
#------------------------------------------------------------------
#
#--------------------------------------------
# Entry alias  | Column | MAPL keyword/interpretation
#--------------|-----------------------------
# xyz          | DIMS   | MAPL_HorzVert
# xy           | DIMS   | MAPL_HorzOnly
# z            | DIMS   | MAPL_VertOnly  (plus ungridded)
# C            | VLOC   | MAPL_VlocationCenter
# E            | VLOC   | MAPL_VlocationEdge
# N            | VLOC   | MAPL_VlocationNone
#--------------------------------------------

