name: Build Tests

on:
  pull_request:
    types: [opened, synchronize, reopened]
    # Do not run if the only files changed cannot affect the build
    paths-ignore:
      - "**.md"
      - "**.pro"
      - "**.sh"
      - "**.perl"
      - ".github/CODEOWNERS"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build_gcm:
    strategy:
      matrix:
        compiler: [ifort, gfortran-14, gfortran-15]
        build-type: [Debug]
    uses: GEOS-ESM/CI-workflows/.github/workflows/geosgcm_build_tests.yml@project/geosgcm
    with:
      compiler: ${{ matrix.compiler }}
      cmake-build-type: ${{ matrix.build-type }}
      fixture-repo: GEOS-ESM/GEOSgcm
      fixture-ref: release/MAPL-v3
      run-mepo-develop: false

  build_gocart:
    strategy:
      matrix:
        compiler: [ifort]
        build-type: [Debug]
    uses: GEOS-ESM/CI-workflows/.github/workflows/geosgcm_build_tests.yml@project/geosgcm
    with:
      compiler: ${{ matrix.compiler }}
      cmake-build-type: ${{ matrix.build-type }}
      run-mepo-develop: false
      build-target: '--target GOCART2G_GridComp'

  spack_build_gcm:
    uses: GEOS-ESM/CI-workflows/.github/workflows/spack_gcc_build.yml@project/geosgcm
    secrets:
      BUILDCACHE_USERNAME: ${{ secrets.BUILDCACHE_USERNAME }}
      BUILDCACHE_TOKEN: ${{ secrets.BUILDCACHE_TOKEN }}
    with:
      fixture-repo: GEOS-ESM/GEOSgcm
      fixture-ref: release/MAPL-v3
      run-mepo-develop: false

  spack_build_gocart:
    uses: GEOS-ESM/CI-workflows/.github/workflows/spack_gcc_build.yml@project/geosgcm
    secrets:
      BUILDCACHE_USERNAME: ${{ secrets.BUILDCACHE_USERNAME }}
      BUILDCACHE_TOKEN: ${{ secrets.BUILDCACHE_TOKEN }}
    with:
      run-mepo-develop: false
      build-target: '--target GOCART2G_GridComp'

